*{ 
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
}
.areaBtnRandom{
width: 100%;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
}
.zonaDasImgs{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
}
.area1{
width: 25vw;
height: 30vw;
border: 2px solid black;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
font-size: 2rem;
}
.area2{
width: 25vw;
height: 30vw;
border: 2px solid black; 
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
font-size: 2rem;
}
    